Please run those two cells before running the Notebook!

As those plotting settings are standard throughout the book, we do not show them in the book every time we plot something.

In [1]:
# %matplotlib inline
%config InlineBackend.figure_format = "retina"

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
from pandas.errors import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=FutureWarning)
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

# feel free to modify, for example, change the context to "notebook"
sns.set_theme(context="talk", style="whitegrid", 
              palette="colorblind", color_codes=True, 
              rc={"figure.figsize": [12, 8]})

# Chapter 1 - Acquiring Financial Data

## 1.1 Getting data from Yahoo Finance

### How to do it...

1. Import the libraries:

In [3]:
import pandas as pd 
import yfinance as yf

2. Download the data:

In [31]:
df = yf.download("SOL-USD", 
                 start="2021-01-01", 
                 end="2021-06-30",
                 progress=False)

3. Inspect the data:

In [32]:
print(f"Downloaded {len(df)} rows of data.")
df

Downloaded 180 rows of data.

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,SOL-USD,SOL-USD,SOL-USD,SOL-USD,SOL-USD,SOL-USD
Date,,,,,,
2021-01-01 00:00:00+00:00,1.842084,1.842084,1.859656,1.502038,1.509775,25722549
2021-01-02 00:00:00+00:00,1.799275,1.799275,1.989295,1.721482,1.845586,31671064
2021-01-03 00:00:00+00:00,2.161752,2.161752,2.364981,1.799902,1.799902,55073422
2021-01-04 00:00:00+00:00,2.485097,2.485097,2.485097,1.876342,2.162412,59955405
2021-01-05 00:00:00+00:00,2.157217,2.157217,2.502616,2.077742,2.490982,50555207
...,...,...,...,...,...,...
2021-06-25 00:00:00+00:00,28.698862,28.698862,32.902515,28.035080,31.168531,632052177
2021-06-26 00:00:00+00:00,29.712854,29.712854,30.007036,26.710814,28.607899,560342710
2021-06-27 00:00:00+00:00,31.929392,31.929392,31.929392,29.271196,29.752640,497353288
2021-06-28 00:00:00+00:00,32.927780,32.927780,34.243225,31.035128,31.880831,473612135
2021-06-29 00:00:00+00:00,33.866802,33.866802,35.788578,32.726685,33.009785,471854279

### There's more

We can also use the `Ticker` class to download the historical prices and much more.

In [8]:
# instantiate the Ticker class
aapl_data = yf.Ticker("AAPL")

In [10]:
# get the last month of historical prices
aapl_data.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-10-08 00:00:00-04:00,224.300003,225.979996,223.250000,225.770004,31855700,0.0,0.0
2024-10-09 00:00:00-04:00,225.229996,229.750000,224.830002,229.539993,33591100,0.0,0.0
2024-10-10 00:00:00-04:00,227.779999,229.500000,227.169998,229.039993,28183500,0.0,0.0
2024-10-11 00:00:00-04:00,229.300003,229.410004,227.339996,227.550003,31759200,0.0,0.0
2024-10-14 00:00:00-04:00,228.699997,231.729996,228.600006,231.300003,39882100,0.0,0.0
2024-10-15 00:00:00-04:00,233.610001,237.490005,232.369995,233.850006,64751400,0.0,0.0
2024-10-16 00:00:00-04:00,231.600006,232.119995,229.839996,231.779999,34082200,0.0,0.0
2024-10-17 00:00:00-04:00,233.429993,233.850006,230.520004,232.149994,32993800,0.0,0.0
2024-10-18 00:00:00-04:00,236.179993,236.179993,234.009995,235.000000,46431500,0.0,0.0
2024-10-21 00:00:00-04:00,234.449997,236.850006,234.449997,236.479996,36254500,0.0,0.0
2024-10-22 00:00:00-04:00,233.889999,236.220001,232.600006,235.860001,38846600,0.0,0.0
2024-10-23 00:00:00-04:00,234.080002,235.139999,227.759995,230.759995,52287000,0.0,0.0
2024-10-24 00:00:00-04:00,229.979996,230.820007,228.410004,230.570007,31109500,0.0,0.0
2024-10-25 00:00:00-04:00,229.740005,233.220001,229.570007,231.410004,38802300,0.0,0.0
2024-10-28 00:00:00-04:00,233.320007,234.729996,232.550003,233.399994,36087100,0.0,0.0
2024-10-29 00:00:00-04:00,233.100006,234.330002,232.320007,233.669998,35417200,0.0,0.0
2024-10-30 00:00:00-04:00,232.610001,233.470001,229.550003,230.100006,47070900,0.0,0.0
2024-10-31 00:00:00-04:00,229.339996,229.830002,225.369995,225.910004,64370100,0.0,0.0
2024-11-01 00:00:00-04:00,220.970001,225.350006,220.270004,222.910004,65276700,0.0,0.0
2024-11-04 00:00:00-05:00,220.990005,222.789993,219.710007,222.009995,44944500,0.0,0.0
2024-11-05 00:00:00-05:00,221.800003,223.949997,221.139999,223.449997,28111300,0.0,0.0
2024-11-06 00:00:00-05:00,222.610001,226.070007,221.190002,222.720001,54561100,0.0,0.0
2024-11-07 00:00:00-05:00,224.630005,227.880005,224.570007,227.479996,42083800,0.0,0.0

In [11]:
# get stock's info
aapl_data.info

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '(408) 996-1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts, as well as advertising services include third-party licensing arrangements and its own advertising platforms. In addition, the company offers various subscription-based services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 164000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 62,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 16239562,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 60,
   'title': 'CFO & Senior VP',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'totalPay': 4612242,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 59,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4637585,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 59,
   'title': 'Senior VP, General Counsel & Secretary',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4618064,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 56,
   'title': 'Chief People Officer & Senior VP of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 4613369,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Senior Director of Corporate Accounting',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Perica',
   'age': 49,
   'title': 'Head of Corporate Development',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Michael  Fenger',
   'title': 'VP of Worldwide Sales',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 1,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1730419200,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://investor.apple.com/',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 222.72,
 'open': 224.625,
 'dayLow': 224.57,
 'dayHigh': 227.87,
 'regularMarketPreviousClose': 222.72,
 'regularMarketOpen': 224.625,
 'regularMarketDayLow': 224.57,
 'regularMarketDayHigh': 227.87,
 'dividendRate': 1.0,
 'dividendYield': 0.0044,
 'exDividendDate': 1731024000,
 'payoutRatio': 0.1612,
 'fiveYearAvgDividendYield': 0.63,
 'beta': 1.24,
 'trailingPE': 37.47611,
 'forwardPE': 27.374247,
 'volume': 41056585,
 'regularMarketVolume': 41056585,
 'averageVolume': 47785407,
 'averageVolume10days': 44575070,
 'averageDailyVolume10Day': 44575070,
 'bid': 225.9,
 'ask': 235.89,
 'bidSize': 100,
 'askSize': 100,
 'marketCap': 3438542061568,
 'fiftyTwoWeekLow': 164.08,
 'fiftyTwoWeekHigh': 237.49,
 'priceToSalesTrailing12Months': 8.793438,
 'fiftyDayAverage': 226.8564,
 'twoHundredDayAverage': 202.5902,
 'trailingAnnualDividendRate': 0.98,
 'trailingAnnualDividendYield': 0.004400144,
 'currency': 'USD',
 'enterpriseValue': 3492435460096,
 'profitMargins': 0.23971,
 'floatShares': 15091184209,
 'sharesOutstanding': 15115799552,
 'sharesShort': 140919653,
 'sharesShortPriorMonth': 130539888,
 'sharesShortPreviousMonthDate': 1726185600,
 'dateShortInterest': 1728950400,
 'sharesPercentSharesOut': 0.0093,
 'heldPercentInsiders': 0.027190002,
 'heldPercentInstitutions': 0.61341,
 'shortRatio': 2.47,
 'shortPercentOfFloat': 0.0093,
 'impliedSharesOutstanding': 15169599488,
 'bookValue': 3.767,
 'priceToBook': 60.387577,
 'lastFiscalYearEnd': 1727481600,
 'nextFiscalYearEnd': 1759017600,
 'mostRecentQuarter': 1727481600,
 'earningsQuarterlyGrowth': -0.358,
 'netIncomeToCommon': 93736001536,
 'trailingEps': 6.07,
 'forwardEps': 8.31,
 'pegRatio': 2.17,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 8.931,
 'enterpriseToEbitda': 25.935,
 '52WeekChange': 0.19484973,
 'SandP52WeekChange': 0.34285796,
 'lastDividendValue': 0.25,
 'lastDividendDate': 1723420800,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 227.48,
 'targetHighPrice': 300.0,
 'targetLowPrice': 183.86,
 'targetMeanPrice': 240.07,
 'targetMedianPrice': 242.89,
 'recommendationMean': 2.1,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 42,
 'totalCash': 65171001344,
 'totalCashPerShare': 4.311,
 'ebitda': 134660997120,
 'totalDebt': 119058997248,
 'quickRatio': 0.745,
 'currentRatio': 0.867,
 'totalRevenue': 391034994688,
 'debtToEquity': 209.059,
 'revenuePerShare': 25.485,
 'returnOnAssets': 0.21464,
 'returnOnEquity': 1.5741299,
 'freeCashflow': 110846001152,
 'operatingCashflow': 118254002176,
 'earningsGrowth': -0.341,
 'revenueGrowth': 0.061,
 'grossMargins': 0.46206,
 'ebitdaMargins': 0.34437,
 'operatingMargins': 0.31171,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.3551}

In [12]:
# show corporate actions
aapl_data.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [13]:
# show financials
aapl_data.financials

,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0,NaN
Tax Rate For Calcs,0.240912,0.147192,0.162,0.133,NaN
Normalized EBITDA,134661000000.0,125820000000.0,130541000000.0,123136000000.0,NaN
Net Income From Continuing Operation Net Minority Interest,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Reconciled Depreciation,11445000000.0,11519000000.0,11104000000.0,11284000000.0,NaN
Reconciled Cost Of Revenue,210352000000.0,214137000000.0,223546000000.0,212981000000.0,NaN
EBITDA,134661000000.0,125820000000.0,130541000000.0,123136000000.0,NaN
EBIT,123216000000.0,114301000000.0,119437000000.0,111852000000.0,NaN
Net Interest Income,NaN,-183000000.0,-106000000.0,198000000.0,890000000.0
Interest Expense,NaN,3933000000.0,2931000000.0,2645000000.0,2873000000.0
Interest Income,NaN,3750000000.0,2825000000.0,2843000000.0,3763000000.0
Normalized Income,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income From Continuing And Discontinued Operation,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Total Expenses,267819000000.0,268984000000.0,274891000000.0,256868000000.0,NaN
Total Operating Income As Reported,123216000000.0,114301000000.0,119437000000.0,108949000000.0,NaN
Diluted Average Shares,NaN,15812547000.0,16325819000.0,16864919000.0,17528214000.0
Basic Average Shares,NaN,15744231000.0,16215963000.0,16701272000.0,17352119000.0
Diluted EPS,NaN,6.13,6.11,5.61,3.28
Basic EPS,NaN,6.16,6.15,5.67,3.31
Diluted NI Availto Com Stockholders,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income Common Stockholders,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income Including Noncontrolling Interests,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income Continuous Operations,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Tax Provision,29749000000.0,16741000000.0,19300000000.0,14527000000.0,NaN
Pretax Income,123485000000.0,113736000000.0,119103000000.0,109207000000.0,NaN
Other Income Expense,269000000.0,-565000000.0,-334000000.0,60000000.0,NaN
Other Non Operating Income Expenses,269000000.0,-565000000.0,-334000000.0,60000000.0,NaN
Net Non Operating Interest Income Expense,NaN,-183000000.0,-106000000.0,198000000.0,890000000.0
Interest Expense Non Operating,NaN,3933000000.0,2931000000.0,2645000000.0,2873000000.0
Interest Income Non Operating,NaN,3750000000.0,2825000000.0,2843000000.0,3763000000.0
Operating Income,123216000000.0,114301000000.0,119437000000.0,108949000000.0,NaN
Operating Expense,57467000000.0,54847000000.0,51345000000.0,43887000000.0,NaN
Research And Development,31370000000.0,29915000000.0,26251000000.0,21914000000.0,NaN
Selling General And Administration,26097000000.0,24932000000.0,25094000000.0,21973000000.0,NaN
Gross Profit,180683000000.0,169148000000.0,170782000000.0,152836000000.0,NaN
Cost Of Revenue,210352000000.0,214137000000.0,223546000000.0,212981000000.0,NaN
Total Revenue,391035000000.0,383285000000.0,394328000000.0,365817000000.0,NaN
Operating Revenue,391035000000.0,383285000000.0,394328000000.0,365817000000.0,NaN

In [14]:
# show quarterly financials
aapl_data.quarterly_financials

,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0,0.0,NaN,NaN
Tax Rate For Calcs,0.21,0.159,0.158,0.159,0.149715,NaN,NaN
Normalized EBITDA,32502000000.0,28202000000.0,30736000000.0,43221000000.0,30653000000.0,NaN,NaN
Net Income From Continuing Operation Net Minority Interest,14736000000.0,21448000000.0,23636000000.0,33916000000.0,22956000000.0,NaN,NaN
Reconciled Depreciation,2911000000.0,2850000000.0,2836000000.0,2848000000.0,2653000000.0,NaN,NaN
Reconciled Cost Of Revenue,51051000000.0,46099000000.0,48482000000.0,64720000000.0,49071000000.0,NaN,NaN
EBITDA,32502000000.0,28202000000.0,30736000000.0,43221000000.0,30653000000.0,NaN,NaN
EBIT,29591000000.0,25352000000.0,27900000000.0,40373000000.0,28000000000.0,NaN,NaN
Net Interest Income,NaN,NaN,NaN,NaN,-18000000.0,-18000000.0,-12000000.0
Interest Expense,NaN,NaN,NaN,NaN,1002000000.0,998000000.0,930000000.0
Interest Income,NaN,NaN,NaN,NaN,984000000.0,980000000.0,918000000.0
Normalized Income,14736000000.0,21448000000.0,23636000000.0,33916000000.0,22956000000.0,NaN,NaN
Net Income From Continuing And Discontinued Operation,14736000000.0,21448000000.0,23636000000.0,33916000000.0,22956000000.0,NaN,NaN
Total Expenses,65339000000.0,60425000000.0,62853000000.0,79202000000.0,62529000000.0,NaN,NaN
Total Operating Income As Reported,29591000000.0,25352000000.0,27900000000.0,40373000000.0,26969000000.0,NaN,NaN
Diluted Average Shares,15242853000.0,15348175000.0,15464709000.0,15576641000.0,15672400000.0,NaN,NaN
Basic Average Shares,15171990000.0,15287521000.0,15405856000.0,15509763000.0,15599434000.0,NaN,NaN
Diluted EPS,0.97,1.4,1.53,2.18,1.46,NaN,NaN
Basic EPS,0.97,1.4,1.53,2.19,1.47,NaN,NaN
Diluted NI Availto Com Stockholders,14736000000.0,21448000000.0,23636000000.0,33916000000.0,22956000000.0,NaN,NaN
Net Income Common Stockholders,14736000000.0,21448000000.0,23636000000.0,33916000000.0,22956000000.0,NaN,NaN
Net Income,14736000000.0,21448000000.0,23636000000.0,33916000000.0,22956000000.0,NaN,NaN
Net Income Including Noncontrolling Interests,14736000000.0,21448000000.0,23636000000.0,33916000000.0,22956000000.0,NaN,NaN
Net Income Continuous Operations,14736000000.0,21448000000.0,23636000000.0,33916000000.0,22956000000.0,NaN,NaN
Tax Provision,14874000000.0,4046000000.0,4422000000.0,6407000000.0,4042000000.0,NaN,NaN
Pretax Income,29610000000.0,25494000000.0,28058000000.0,40323000000.0,26998000000.0,NaN,NaN
Other Income Expense,19000000.0,142000000.0,158000000.0,-50000000.0,47000000.0,NaN,NaN
Other Non Operating Income Expenses,19000000.0,142000000.0,158000000.0,-50000000.0,47000000.0,NaN,NaN
Net Non Operating Interest Income Expense,NaN,NaN,NaN,NaN,-18000000.0,-18000000.0,-12000000.0
Interest Expense Non Operating,NaN,NaN,NaN,NaN,1002000000.0,998000000.0,930000000.0
Interest Income Non Operating,NaN,NaN,NaN,NaN,984000000.0,980000000.0,918000000.0
Operating Income,29591000000.0,25352000000.0,27900000000.0,40373000000.0,26969000000.0,NaN,NaN
Operating Expense,14288000000.0,14326000000.0,14371000000.0,14482000000.0,13458000000.0,NaN,NaN
Research And Development,7765000000.0,8006000000.0,7903000000.0,7696000000.0,7307000000.0,NaN,NaN
Selling General And Administration,6523000000.0,6320000000.0,6468000000.0,6786000000.0,6151000000.0,NaN,NaN
Gross Profit,43879000000.0,39678000000.0,42271000000.0,54855000000.0,40427000000.0,NaN,NaN
Cost Of Revenue,51051000000.0,46099000000.0,48482000000.0,64720000000.0,49071000000.0,NaN,NaN
Total Revenue,94930000000.0,85777000000.0,90753000000.0,119575000000.0,89498000000.0,NaN,NaN
Operating Revenue,94930000000.0,85777000000.0,90753000000.0,119575000000.0,89498000000.0,NaN,NaN

In [15]:
# show earnings
aapl_data.earnings

/opt/anaconda3/envs/finance_book/lib/python3.13/site-packages/yfinance/scrapers/fundamentals.py:33: DeprecationWarning: 'Ticker.earnings' is deprecated as not available via API. Look for "Net Income" in Ticker.income_stmt.
  warnings.warn("'Ticker.earnings' is deprecated as not available via API. Look for \"Net Income\" in Ticker.income_stmt.", DeprecationWarning)

In [ ]:
# show quarterly earnings
aapl_data.quarterly_earnings

In [ ]:
# show upcoming events, such as earnings
aapl_data.calendar

## 1.2 Getting data from Nasdaq Data Link

### How to do it...

1. Import the libraries:

In [ ]:
import pandas as pd 
import nasdaqdatalink

2. Authenticate using the personal API key:

In [ ]:
nasdaqdatalink.ApiConfig.api_key = "YOUR_KEY_HERE"

3. Download the data:

In [ ]:
df = nasdaqdatalink.get(dataset="WIKI/AAPL",
                        start_date="2011-01-01", 
                        end_date="2021-12-31")

4. Inspect the data:

In [ ]:
print(f"Downloaded {len(df)} rows of data.")
df.head()

### There's more

1. Download the data for multiple tickers using the `get_table` function:

In [ ]:
COLUMNS = ["ticker", "date", "adj_close"]
df = nasdaqdatalink.get_table("WIKI/PRICES", 
                              ticker=["AAPL", "MSFT", "INTC"], 
                              qopts={"columns": COLUMNS}, 
                              date={"gte": "2011-01-01", 
                                    "lte": "2021-12-31"}, 
                              paginate=True)
df.head()

2. Pivot the data from long to wide:

In [ ]:
# set the date as index
df = df.set_index("date")

# use the pivot function to reshape the data
df_wide = df.pivot(columns="ticker")
df_wide.head()

## 1.3 Getting data from Intrinio

### How to do it...

1. Import the libraries:

In [ ]:
import intrinio_sdk as intrinio
import pandas as pd

2. Authenticate using the personal API key and select the API:

In [ ]:
intrinio.ApiClient().set_api_key("YOUR_KEY_HERE") 
security_api = intrinio.SecurityApi()

3. Request the data:

In [ ]:
r = security_api.get_security_stock_prices(
    identifier="AAPL", 
    start_date="2011-01-01",
    end_date="2021-12-31", 
    frequency="daily",
    page_size=10000
)

4. Convert the results into a DataFrame:

In [ ]:
df = (
    pd.DataFrame(r.stock_prices_dict)
    .sort_values("date")
    .set_index("date")
)

5. Inspect the data:

In [ ]:
print(f"Downloaded {df.shape[0]} rows of data.")

df.head()

### There's more

1. Get Coca-Cola's real-time stock price:

In [ ]:
security_api.get_security_realtime_price("KO")

2. Download news articles related to Coca-Cola:

In [ ]:
r = intrinio.CompanyApi().get_company_news(
    identifier="KO", 
    page_size=100
)

df = pd.DataFrame(r.news_dict)
df.head()

3. Search for companies connected to the search phrase:

Returns a list of companies recognized by the Thea API in the given `text` query string parameter.

In [ ]:
r = intrinio.CompanyApi().recognize_company("Intel")
df = pd.DataFrame(r.companies_dict)
df

4. Get Coca-Cola's intraday stock prices:

In [ ]:
response = (
    security_api.get_security_intraday_prices(identifier="KO", 
                                              start_date="2021-01-02",
                                              end_date="2021-01-05",
                                              page_size=1000)
    )
df = pd.DataFrame(response.intraday_prices_dict)
df

5. Get Coca-Cola's latest earnings record:

In [ ]:
r = security_api.get_security_latest_earnings_record(identifier="KO")
print(r)

## 1.4 Getting data from Alpha Vantage

### How to do it...

1. Import the libraries:

In [ ]:
from alpha_vantage.cryptocurrencies import CryptoCurrencies

2. Authenticate using the personal API key and select the API:

In [ ]:
ALPHA_VANTAGE_API_KEY = "YOUR_KEY_HERE"

crypto_api = CryptoCurrencies(key=ALPHA_VANTAGE_API_KEY, 
                              output_format="pandas")

3. Download the daily prices of Bitcoin, expressed in EUR:

In [ ]:
data, meta_data = crypto_api.get_digital_currency_daily(
    symbol="BTC", 
    market="EUR"
)

In [ ]:
meta_data

In [ ]:
data

4. Download the realtime exchange rate:

In [ ]:
crypto_api.get_digital_currency_exchange_rate(
    from_currency="BTC", 
    to_currency="USD"
)[0].transpose()

### There's more

1. Import the libraries:

In [ ]:
import requests
import pandas as pd
from io import BytesIO

2. Download Bitcoin's intraday data:

In [ ]:
AV_API_URL = "https://www.alphavantage.co/query"
parameters = {
    "function": "CRYPTO_INTRADAY",
    "symbol": "ETH",
    "market": "USD",
    "interval": "30min",
    "outputsize": "full",
    "apikey": ALPHA_VANTAGE_API_KEY
}
r = requests.get(AV_API_URL, params=parameters)
data = r.json()
df = (
    pd.DataFrame(data["Time Series Crypto (30min)"])
    .transpose()
)
df

3. Download the upcoming earnings announcements:

In [ ]:
AV_API_URL = "https://www.alphavantage.co/query" 
parameters = {
    "function": "EARNINGS_CALENDAR",
    "horizon": "3month",
    "apikey": ALPHA_VANTAGE_API_KEY
}

r = requests.get(AV_API_URL, params=parameters)
pd.read_csv(BytesIO(r.content))

In [ ]:
type(r.content)

### Bonus

This section includes some additional short recipes not published in the book.

1. Get Tesla's earnings:

In [ ]:
AV_API_URL = "https://www.alphavantage.co/query" 
parameters = {
    "function": "EARNINGS",
    "symbol": "TSLA", 
    "apikey": ALPHA_VANTAGE_API_KEY
}
r = requests.get(AV_API_URL,  params=parameters)
data = r.json()

In [ ]:
data.keys()

In [ ]:
df = pd.DataFrame(data["quarterlyEarnings"])
df.head()

2. Download the upcoming IPOs:

In [ ]:
import csv

AV_API_URL = "https://www.alphavantage.co/query" 
parameters = {
    "function": "IPO_CALENDAR",
    "apikey": ALPHA_VANTAGE_API_KEY
}

with requests.Session() as s:
    download = s.get(AV_API_URL, params=parameters)
    decoded_content = download.content.decode("utf-8")
    ipos_list = list(csv.reader(decoded_content.splitlines(), delimiter=","))

df = pd.DataFrame(ipos_list[1:], columns=ipos_list[0])
df

3. Download Google's stock prices using the `TimeSeries` module:

In [ ]:
from alpha_vantage.timeseries import TimeSeries

ts = TimeSeries(key=ALPHA_VANTAGE_API_KEY, output_format="pandas")
data, _ = ts.get_daily("GOOGL", outputsize="full")
print(f"Downloaded {len(data)} observations")
data

4. Similarly, we can download the intraday prices:

In [ ]:
data, _ = ts.get_intraday("GOOGL", interval="5min", outputsize="full")
data

## 1.5 Getting data from CoinGecko

### How to do it...

1. Import the libraries:

In [17]:
from pycoingecko import CoinGeckoAPI
from datetime import datetime
import pandas as pd

2. Instantiate the CoinGecko API:

In [18]:
cg = CoinGeckoAPI()

3. Get Bitcoin's OHLC prices from the last 14 days:

In [19]:
ohlc = cg.get_coin_ohlc_by_id(
    id="bitcoin", vs_currency="usd", days="14"
)
ohlc_df = pd.DataFrame(ohlc)
ohlc_df.columns = ["date", "open", "high", "low", "close"]
ohlc_df["date"] = pd.to_datetime(ohlc_df["date"], unit="ms")
ohlc_df

                  date     open     high      low    close
0  2024-10-25 12:00:00  67475.0  68097.0  67350.0  68081.0
1  2024-10-25 16:00:00  68089.0  68655.0  67378.0  67378.0
2  2024-10-25 20:00:00  67683.0  67834.0  65896.0  66920.0
3  2024-10-26 00:00:00  66742.0  67260.0  65564.0  66586.0
4  2024-10-26 04:00:00  66649.0  66872.0  66408.0  66842.0
..                 ...      ...      ...      ...      ...
79 2024-11-07 16:00:00  74776.0  76048.0  74669.0  76048.0
80 2024-11-07 20:00:00  76119.0  76677.0  75623.0  76486.0
81 2024-11-08 00:00:00  76619.0  76873.0  75667.0  75987.0
82 2024-11-08 04:00:00  75895.0  76376.0  75684.0  75934.0
83 2024-11-08 08:00:00  75992.0  76313.0  75793.0  76313.0

[84 rows x 5 columns]

### There's more

1. Get the top 7 trending coins (based on the # of searches in the last 24h) from CoinGecko:

In [20]:
trending_coins = cg.get_search_trending()
(
    pd.DataFrame([coin["item"] for coin in trending_coins["coins"]])
    .drop(columns=["thumb", "small", "large"])
)

,id,coin_id,name,symbol,market_cap_rank,slug,price_btc,score,data
0,notcoin,33453,Notcoin,NOT,133,notcoin,8.334023e-08,0,"{'price': 0.006341017345376283, 'price_btc': '..."
1,grass,40094,Grass,GRASS,107,grass,4.395260e-05,1,"{'price': 3.344173594928206, 'price_btc': '0.0..."
2,swell-network,28777,Swell,SWELL,643,swell-network,5.960033e-07,2,"{'price': 0.045347456915046006, 'price_btc': '..."
3,cardano,975,Cardano,ADA,10,cardano,5.634545e-06,3,"{'price': 0.42870951914272587, 'price_btc': '0..."
4,drift-protocol,37509,Drift Protocol,DRIFT,286,drift-protocol,1.148418e-05,4,"{'price': 0.8737843527948843, 'price_btc': '0...."
5,solana,4128,Solana,SOL,4,solana,2.660674e-03,5,"{'price': 202.43980689108028, 'price_btc': '0...."
6,jupiter-exchange-solana,34188,Jupiter,JUP,66,jupiter,1.475901e-05,6,"{'price': 1.122952975923044, 'price_btc': '0.0..."
7,sui,26375,Sui,SUI,20,sui,3.040751e-05,7,"{'price': 2.3135833534452344, 'price_btc': '0...."
8,solidus-aitech,22114,Solidus Ai Tech,AITECH,449,solidus-ai-tech,1.260470e-06,8,"{'price': 0.09590402357258465, 'price_btc': '0..."
9,dogecoin,5,Dogecoin,DOGE,8,dogecoin,2.603858e-06,9,"{'price': 0.19811687446977577, 'price_btc': '0..."
10,cetus-protocol,30256,Cetus Protocol,CETUS,273,cetus-protocol,5.355081e-06,10,"{'price': 0.4074461843768485, 'price_btc': '0...."
11,goatseus-maximus,50717,Goatseus Maximus,GOAT,104,goatseus-maximus,1.096798e-05,11,"{'price': 0.8345084618550894, 'price_btc': '0...."
12,pepe,29850,Pepe,PEPE,29,pepe,1.416426e-10,12,"{'price': 1.0777005422558522e-05, 'price_btc':..."
13,ethereum,279,Ethereum,ETH,2,ethereum,3.831153e-02,13,"{'price': 2914.9679102976133, 'price_btc': '0...."
14,kamino,35801,Kamino,KMNO,333,kamino,1.651762e-06,14,"{'price': 0.1256757818722311, 'price_btc': '0...."

2. Get Bitcoin's current price in USD:

In [ ]:
cg.get_price(ids="bitcoin", vs_currencies="usd")

### Bonus

This section includes some additional short recipes not published in the book.

1. Get current price of ETH and BTC in USD and EUR:

In [ ]:
cg.get_price(ids=["bitcoin", "ethereum"], vs_currencies=["usd", "eur"])

2. Get the current BTC/USD eschange rate, market capitalization, 24h volumne and change and the last-updated timestamp:

In [ ]:
cg.get_price(ids="bitcoin", vs_currencies="usd", 
             include_market_cap=True, 
             include_24hr_vol=True, 
             include_24hr_change=True, 
             include_last_updated_at=True)

3. Get the list of all supported coin ids, together with their name and symbol:

In [ ]:
pd.DataFrame(cg.get_coins_list())

4. Get all the coins market data:

In [ ]:
pd.DataFrame(cg.get_coins_markets(vs_currency="eur"))

5. Get all the supported crypto exchanges:

In [ ]:
exchanges_df = pd.DataFrame(cg.get_exchanges_list(per_page=250))
exchanges_df.head()

6. Get a summary of DEFI:

In [ ]:
cg.get_global_decentralized_finance_defi()